.formulario-show{
    display: flex;
    justify-content: center;
    margin: 80px 50px;
    flex-wrap: wrap;
    gap: 24px;
}

.formulario-hide{
    display: none;
}

.formulario form{
    background-color: #F6F6F6;
    padding: 36px 64px;
    border-radius: 20px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
    flex: 1;
}

.formulario .form-time{
    height: fit-content;
}

.controles{
    padding: 0 64px;
}

.controles h4{    
    font-size: 36px;
    color: #6278F7;
    text-align: center;

}

.controles div{
    text-align: end;
    height: 8px;
}

.controles button{
    display: inline-block;
    background-color: transparent;
    border: none;
    align-items: end;
    position: relative;
    top: 20px;
}