.time{
    text-align: center;
    padding: 32px;
    position: relative;
    background-image: url(/public/fundo.png);
}

.time h3{
    font-size: 32px;
    border-bottom: solid 4px;
    display: inline-block;
    padding-bottom: 8px;
}

.time .colaboradores{
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}

.input-color{
    position: absolute;
    top: 20px;
    right: 50px;
}